%% -*- Mode: Erlang; fill-column: 75; comment-column: 50 -*-

{sub_dirs, ["rel"]}.
        
{deps_dir, ["deps"]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
    {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.3.5"}}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.1.1"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.0.0"}}}
]}.
