%% -*- Mode: Erlang; fill-column: 75; comment-column: 50 -*-

{sub_dirs, ["rel"]}.
        
{deps_dir, ["deps"]}.

{erl_opts, [debug_info]}.

{deps, [
    {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.0.2"}}},
    {ejson, ".*", {git, "git://github.com/omgbebebe/ejson.git", "5f05a18a750413719c1a2bb0b522a0adbc363462"}}
    ]}.
