%% -*- Mode: Erlang; fill-column: 75; comment-column: 50 -*-

{sub_dirs, ["rel"]}.
        
{deps_dir, ["deps"]}.

{erl_opts, [debug_info]}.

{deps, [
    {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.0.2"}}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.1.1"}}}
]}.
